.variants {
    min-height: 580px;
    background: url(../img/variants/variants.png) center (center/cover) no-repeat;

    &__wrapper {
        width: 100%;
    }

    &__item {
        position: relative;
        margin-top: 90px;
    }

    &__rectagle {
        position: absolute;
        left: 80%;
        transform: translateX(-50%);
        width: 167px;
        height: 167px;
        background-color: #00c2f0;
        opacity: 0.3;

        &_right {
            left: 26%;
        }
    }

    &__text {
        position: relative;
        margin-top: 38px;
        color: #ffffff;
    }

    &__subtitle {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
        font-size: 30px;
        font-weight: 700;
        width: 488px;
        line-height: 22px;
        text-transform: uppercase;
        text-align: right;

        &_right {
            left: 42%;
        }
    }

    &__descr {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: 300;
        width: 488px;
        margin-top: 40px;
        text-align: right;

        &_right {
            left: 58%;
        }
    }
}