.title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;

    &_main {
        margin-top: 133px;
    }

    &_withPrengi {
        font-size: 48px;
        color: #393939;
        margin-top: 33px;
        text-align: center;
    }

    &_decisions,
    &_advantages,
    &_variants,
    &_access {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
    }

    &_advantages,
    &_access {
        color: #393939;
    }

    &_variants {
        padding-top: 79px;
    }

    &_access {
        margin-top: 74px;
    }
}